<!DOCTYPE html>
<html ng-app="quoteBook" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="mainCtrl">
<div class="container">
<input type="text" placeholder="Enter Quote" ng-model="newQuoteText">
<input type="text" placeholder="Enter Author" ng-model="newQuoteAuthor">
<button ng-click="addQuote()">Add Quotes</button>

<p ng-repeat="quote in quotes">
    <span class="text">{{quote.text}}</span>
    <span class="author">{{quote.author}}</span>
    <button ng-click="deleteMe(quote.text)">delete</button>
</p>

</div>
<script src="./js/angular.js"></script>
<script src="./js/app.js"></script>
<script src="./js/dataService.js"></script>
<script src="./js/mainCtrl.js"></script>
</body>
</html>